---
---

// colors
[data-dark="false"] {
  --primary: #457B9D;
  --secondary: #A8DADC;
  --text: #1D3557;
  --background: #F1FAEE;
  --background-alt: #A8DADC;
  --light-gray: #e0e0e0;
  --gray: #808080;
  --overlay: #00000020;
}
[data-dark="true"] {
  --primary: #457B9D;
  --secondary: #A8DADC;
  --text: #F1FAEE;
  --background: #1D3557;
  --background-alt: #457B9D;
  --light-gray: #404040;
  --gray: #808080;
  --overlay: #ffffff10;
}

:root {
  // font families
  --title: "Nunito", sans-serif;
  --heading: "Nunito", sans-serif;
  --body: "Nunito", sans-serif;
  --code: "Fira Mono", monospace;

  // font sizes
  --medium: 1rem;
  --large: 1.2rem;
  --xl: 1.4rem;
  --xxl: 1.6rem;

  // font weights
  --thin: 200;
  --regular: 400;
  --semi-bold: 500;
  --bold: 600;

  // text line spacing
  --spacing: 2;

  // effects
  --rounded: 3px;
  --shadow: 0 0 10px 0 var(--overlay);
}
